@tailwind base;
@tailwind components;
@tailwind utilities;
/* For fade-in effect for modal */
@media (max-width: 600px) {
  .min-w-\[90vw\] {
    min-width: 90vw !important;
  }
}
@keyframes fade-in {
  from { opacity: 0 }
  to   { opacity: 1 }
}
@keyframes fade-up {
  from { opacity: 0; transform: translateY(40px);}
  to   { opacity: 1; transform: translateY(0);}
}
.animate-fade-in { animation: fade-in .15s both;}
.animate-fade-up { animation: fade-up .18s both;}
